<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Sentosa&reg; SQ Reporter</title>

<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/static/css/bootstrap-panel.css" rel="stylesheet" type="text/css">
<link href="/static/css/vdx-main.less" rel="stylesheet/less" type="text/css">
<link href='/static/css/vdx-font.css' rel='stylesheet' type='text/css'>

<script src="/static/js/jquery.min.js"></script>

<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/less.js"></script>

<style>

#title .sq {
    font-weight: 500;
    color: #8ed300;
}
</style>
</head>
<body>
<p id="notice"><%= notice %></p>

<div id="header">
  <img src="/assets/logo-vela.png" align="right">
</div>
<div id="title"><h1><span class="sq">Service Portal</span></h1> </div>

 Download:
  <%= link_to "Excel/CSV", services_export_path(format: "csv") %>
 
<br>
  <br>
  <br>
 <table>
  <thead>
    <tr> 
<%= search_form_for @search do |f| %>
  
    <%= f.label :name_cont, "Search By Customer name" %>
    <%= f.search_field :customer_cont %><br>
    <%= f.label :date_of_service_gteq, "Date of service between" %>
    <%= f.search_field :date_of_service_gteq  %>
    <%= f.label :date_of_service_lteq, "and" %>
    <%= f.search_field :date_of_service_lteq  %><br>
     <%= f.label :name_cont, "Keywords in Complaint i.e 'PGM'" %>
    <%= f.search_field :complaint_cont %>
    <%= f.label :name_cont, "Keywords in Diagnosis i.e 'PGM'" %>
    <%= f.search_field :Diagnosis_cont %>
    <%= f.label :name_cont, "Search By Scientist" %>
    <%= f.search_field :FAS_cont %>
    <%= f.label :name_cont, "Search By Engineer" %>
    <%= f.search_field :FSE_cont %>
    <%= f.label :name_cont, "Search By Instrument" %>
    <%= f.search_field :instrument_cont %>
    <%= f.label :name_cont, "Search By Code" %>
    <%= f.search_field :code_cont %>
 <br>
  <br>
  <div class="actions"><%= f.submit "Search" %></div>
   <% end %>
  </tr>
  </thead>
  <br>
  <%= link_to 'Create a new Service record', new_service_path %>

  <br>

  <br>
  <br>
  <h4>Import Full Service Sheet</h4>
  <%= form_tag import_services_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <%end%>
<table class="table table-hover">

  <thead>
    <tr>
      <th><%= sort_link @search, :date_of_service, "Service date" %></th>
       <th><%= sort_link @search, :Via, "type of contact" %></th>
       <th><%= sort_link @search, :person, "name of contact" %></th>
      <th><%= sort_link @search, :customer, "Customer" %></th>
      <th><%= sort_link @search, :FAS, "FAS" %></th>
      <th><%= sort_link @search, :FSE, "FSE" %></th>
      <th><%= sort_link @search, :code, "code" %></th>
      <th><%= sort_link @search, :instrument, "Instrument" %></th>
      <th><%= sort_link @search, :resolved, "Resolved" %></th>
      <th><%= sort_link @search, :created_at, "created" %></th>
      <th><%= sort_link @search, :updated_at, "last updated" %></th>
    </tr>
  </thead>

  <tbody>
  <%= will_paginate @services %>
  <% @services.each do |service| %>
    <tr>
      <td><%= service.date_of_service %></td>
      <td><%= service.Via %></td>
      <td><%= service.person %></td>
      <td><%= service.customer %></td>
      <td><%= service.FAS %></td>
      <td><%= service.FSE %></td>
      <td><%= service.code %></td>
      <td><%= service.instrument %></td>
      <td><%= service.resolved %></td>
      <td><%= service.created_at %></td>
      <td><%= service.updated_at %></td>
      <td><%= link_to 'View', service, :onclick=> "window.open(this.href,'create_company', 'height=600, width=600');return false;"%>
      <td><%= link_to 'Edit', edit_service_path(service) %></td>
      <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= service.created_at %></td>
    </tr>
<tr>

  <% end %>
  </body>
