<!DOCTYPE html>
<html>

<%= stylesheet_link_tag('default', :media => :screen) %>
<%= stylesheet_link_tag('print', :media => :print) %>
<p id="notice"><%= notice %></p>
<div id="header">
  <img src="/assets/logo-vela.png" align="right">
</div>
<body>

<h1>Listing Inventories</h1>

<table>
  <tbody>
    <tr>
  <%= search_form_for @search do |f| %>
<table class="table table-default table-condensed">
   <th> <%= f.label :name_cont, "Search By Product Name" %>
    <%= f.search_field :Product_cont %> </th>
    <th><%= f.label :name_cont, "Search By Category" %>
    <%= f.search_field :Category_cont %></th>
    <th><%= f.label :name_cont, "Search By Location" %>
    <%= f.search_field :Location_cont %></th>
    <th><%= f.label :name_cont, "Search By Serial Number" %>
    <%= f.search_field :SerialNumber_cont %></th>
    <th><%= f.label :name_cont, "Search By Lot Number" %>
    <%= f.search_field :LotNumber_cont %></th>
    <th><%= f.label :ExpirationDate_gteq, "Expiration Date between" %>
    <%= f.search_field :ExpirationDate_gteq  %>
    <%= f.label :ExpirationDate_lteq, "and" %>
    <%= f.search_field :ExpirationDate_lteq  %></th>
    <th><%= f.label :name_cont, "Search By Notes" %>
    <%= f.search_field :Notes_cont %></th>
  </table>

  <th> <div class="actions"><%= f.submit "Search" %></div> </th>
  </table>
  <% end %>
  </tbody>
  <table class="table table-default table-condensed">
<th> Download:
  <%= link_to "Excel/CSV", inventories_export_path(format: "csv") %></th>

 <th> New:
 <%= link_to 'Click to Add a new entry', new_inventory_path %></th>
 <th> <%= form_tag import_inventories_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %></th>
  <% end %>
  <th> <span style="background-color:red"> Red</th> <th> = Stock needing replacement!.</th>
  <th> <span style="background-color:grey"> Grey</th> <th> = Old Stock not needing to be replaced.</th>
  <th> Audit Log:
  <%= link_to "Change History", inventories_history_path %></th>
  </table>
<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th><%= sort_link @search, :Product, "Product" %></th>
       <th><%= sort_link @search, :Category, "Category" %></th>
       <th><%= sort_link @search, :Location, "Location" %></th>
      <th><%= sort_link @search, :SerialNumber, "Serial Number" %></th>
      <th><%= sort_link @search, :LotNumber, "Lot Number" %></th>
      <th><%= sort_link @search, :ExpirationDate, "Expiration Date" %></th>
      <th><%= sort_link @search, :Quantity, "Quanity" %></th>
      <th><%= sort_link @search, :Quantity, "  " %></th>
      <th><%= sort_link @search, :created_at, "created" %></th>
      <th><%= sort_link @search, :updated_at, "last updated" %></th>
    </tr>
  </thead>

<%= will_paginate @inventoriez %>
 <tbody>
    <% @inventoriez.each do |inventory| %>
      <tr>
        <% if inventory.Quantity <= inventory.Low_Stock_Indicator or inventory.Quantity == 0 and inventory.archivedstock == FALSE %>
        <td><span style="background-color:red"> <%= inventory.Product %></td>
        <td><span style="background-color:red"><%= inventory.Category %></td>
        <td><span style="background-color:red"><%= inventory.Location %></td>
        <td><span style="background-color:red"><%= inventory.SerialNumber %></td>
        <td><span style="background-color:red"><%= inventory.LotNumber %></td>
        <td><span style="background-color:red"><%= inventory.ExpirationDate %></td>
        <td><span style="background-color:red"> <%= inventory.Quantity %><td>
        <td><span style="background-color:red"><%= inventory.created_at %></td>
        <td><span style="background-color:red"><%= inventory.updated_at %></td>
        <% elsif inventory.Quantity == 0 and inventory.archivedstock == TRUE %>
        <td><span style="background-color:grey"> <%= inventory.Product %></td>
        <td><span style="background-color:grey"><%= inventory.Category %></td>
        <td><span style="background-color:grey"><%= inventory.Location %></td>
        <td><span style="background-color:grey"><%= inventory.SerialNumber %></td>
        <td><span style="background-color:grey"><%= inventory.LotNumber %></td>
        <td><span style="background-color:grey"><%= inventory.ExpirationDate %></td>
        <td><span style="background-color:grey"> <%= inventory.Quantity %><td>
        <td><span style="background-color:grey"><%= inventory.created_at %></td>
        <td><span style="background-color:grey"><%= inventory.updated_at %></td>
        <% else %>
        <td> <%= inventory.Product %></td>
        <td><%= inventory.Category %></td>
        <td><%= inventory.Location %></td>
        <td><%= inventory.SerialNumber %></td>
        <td><%= inventory.LotNumber %></td>
        <td><%= inventory.ExpirationDate %></td>
        <td> <%= inventory.Quantity %><td>
        <td><%= inventory.created_at %></td>
        <td><%= inventory.updated_at %></td>
        <% end %>
       
        <td> <%= link_to 'View', inventory %>  </td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Delete', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>



