<div id="header">
<h1>All uploads</h1>
<img src="/assets/logo-vela.png" align="right">
</div>

<%= search_form_for @search do |f| %>
  <%= f.label :name_cont, "Name of file" %>
    <%= f.search_field :name_cont %><br>
  
    <br>
  <div class="actions"><%= f.submit "Search" %></div>
   <% end %>
   <div class="pull-right">
<%= link_to "New File Upload", new_upload_path, class: "btn btn-primary"  %>
</div>
<br>
<br>
<br>
<br>
<br>

<table class="table table-hover table-condensed">
  <thead>
  <thead>
    <tr>
      <th><%= sort_link @search, :name, "File Name" %></th>
      
       <th><%= sort_link @search, :created_at, "Created" %></th>
    </tr>
  </thead>

  <tbody>
<% @uploadz.each do |upload| %>
    <tr>
      <td><%= link_to upload.name, upload.url %></td>
      
      <td><%= upload.created_at %></td>
      
    <tr>
<% end %>

