<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :contacts %><br>
    <%= f.text_field :contacts %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :installed %><br>
    <%= f.date_select :installed %>
  </div>
  <div class="field">
    <%= f.label :FSE %><br>
    <%= f.text_field :FSE %>
  </div>
  <div class="field">
    <%= f.label :PQandTraining %><br>
    <%= f.date_select :PQandTraining %>
  </div>
  <div class="field">
    <%= f.label :FAS %><br>
    <%= f.text_field :FAS %>
  </div>
  <div class="field">
    <%= f.label :TrainedOn %><br>
    <%= f.text_field :TrainedOn %>
  </div>
  <div class="field">
    <%= f.label :SxSerialNumber %><br>
    <%= f.text_field :SxSerialNumber %>
  </div>
  <div class="field">
    <%= f.label :MappingTool %><br>
    <%= f.text_field :MappingTool %>
  </div>
  <div class="field">
    <%= f.label :RGQSN %><br>
    <%= f.text_field :RGQSN %>
  </div>
  <div class="field">
    <%= f.label :RgqSoftware %><br>
    <%= f.text_field :RgqSoftware %>
  </div>
  <div class="field">
    <%= f.label :SAReporter %><br>
    <%= f.text_field :SAReporter %>
  </div>
  <div class="field">
    <%= f.label :AssayPackage %><br>
    <%= f.text_field :AssayPackage %>
  </div>
  <div class="field">
    <%= f.label :NGS %><br>
    <%= f.check_box :NGS %>
  </div>
  <div class="field">
    <%= f.label :NGSassay %><br>
    <%= f.text_field :NGSassay %>
  </div>
  <div class="field">
    <%= f.label :NGSSXSN %><br>
    <%= f.text_field :NGSSXSN %>
  </div>
  <div class="field">
    <%= f.label :ST401i %><br>
    <%= f.text_field :ST401i %>
  </div>
  <div class="field">
    <%= f.label :ST401e %><br>
    <%= f.text_field :ST401e %>
  </div>
  <div class="field">
    <%= f.label :SQ301 %><br>
    <%= f.text_field :SQ301 %>
  </div>
  <div class="field">
    <%= f.label :SQSuite %><br>
    <%= f.text_field :SQSuite %>
  </div>
  <div class="field">
    <%= f.label :SQreporter %><br>
    <%= f.text_field :SQreporter %>
  </div>
  <div class="field">
    <%= f.label :NGSInstall %><br>
    <%= f.date_select :NGSInstall %>
  </div>
  <div class="field">
    <%= f.label :NGSFSE %><br>
    <%= f.text_field :NGSFSE %>
  </div>
  <div class="field">
    <%= f.label :NGSPQandTraining %><br>
    <%= f.date_select :NGSPQandTraining %>
  </div>
  <div class="field">
    <%= f.label :FAS %><br>
    <%= f.text_field :FAS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
