<p id="notice"><%= notice %></p>
<table border="0 " bgcolor="white" width="1000" height="400" >
<td>

    <strong>Site:</strong>
    <h1><%= @site.site %>
  </h1>
<p>
  <strong>Notes:</strong>
  <%= @site.Notes %>
</p>
</td>
</table>

<table border="8" width="1000" height="50" bgcolor="black">
<tr>
<td>
  <p>
    <strong>Location:</strong>
    <%= @site.location %>
  </p>

  <p>
    <strong>Contacts:</strong>
    <%= @site.contacts %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @site.email %>
  </p>

  <p>
    <strong>Installed:</strong>
    <%= @site.installed %>
  </p>

  <p>
    <strong>Fse:</strong>
    <%= @site.FSE %>
  </p>

  <p>
    <strong>Pqandtraining:</strong>
    <%= @site.PQandTraining %>
  </p>

  <p>
    <strong>Fas:</strong>
    <%= @site.FAS %>
  </p>

  <p>
    <strong>Trainedon:</strong>
    <%= @site.TrainedOn %>
  </p>

  <p>
    <strong>Sxserialnumber:</strong>
    <%= @site.SxSerialNumber %>
  </p>

  <p>
    <strong>Mappingtool:</strong>
    <%= @site.MappingTool %>
  </p>

  <p>
    <strong>Rgqsn:</strong>
    <%= @site.RGQSN %>
  </p>

  <p>
    <strong>Rgqsoftware:</strong>
    <%= @site.RgqSoftware %>
  </p>

  <p>
    <strong>Sareporter:</strong>
    <%= @site.SAReporter %>
  </p>

  <p>
    <strong>Assaypackage:</strong>
    <%= @site.AssayPackage %>
  </p>
</td>
<td>
<p>
  <strong>Ngs:</strong>
  <%= @site.NGS %>
</p>

<p>
  <strong>Ngsassay:</strong>
  <%= @site.NGSassay %>
</p>

<p>
  <strong>Ngssxsn:</strong>
  <%= @site.NGSSXSN %>
</p>

<p>
  <strong>St401i:</strong>
  <%= @site.ST401i %>
</p>

<p>
  <strong>St401e:</strong>
  <%= @site.ST401e %>
</p>

<p>
  <strong>Sq301:</strong>
  <%= @site.SQ301 %>
</p>

<p>
  <strong>Sqsuite:</strong>
  <%= @site.SQSuite %>
</p>

<p>
  <strong>Sqreporter:</strong>
  <%= @site.SQreporter %>
</p>

<p>
  <strong>Ngsinstall:</strong>
  <%= @site.NGSInstall %>
</p>

<p>
  <strong>Ngsfse:</strong>
  <%= @site.NGSFSE %>
</p>

<p>
  <strong>Ngspqandtraining:</strong>
  <%= @site.NGSPQandTraining %>
</p>

  <strong>Fas:</strong>
  <%= @site.FAS %>

</p>
</td>
</tr>
</table>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
