<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @vela.Date %>
</p>

<p>
  <strong>Via:</strong>
  <%= @vela.Via %>
</p>

<p>
  <strong>Person:</strong>
  <%= @vela.person %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @vela.Organization %>
</p>

<p>
  <strong>Fas:</strong>
  <%= @vela.FAS %>
</p>

<p>
  <strong>Fse:</strong>
  <%= @vela.FSE %>
</p>

<p>
  <strong>Code:</strong>
  <%= @vela.code %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @vela.Instrument %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vela.Description %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @vela.Diagnosis %>
</p>

<p>
  <strong>Resolved:</strong>
  <%= @vela.resolved %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @vela.closed %>
</p>

<%= link_to 'Edit', edit_vela_path(@vela) %> |
<%= link_to 'Back', velas_path %>
